<main class="container-fluid">
  <section class="row">
    <form class="col-md-6" [formGroup]="formularioRegistro" (ngSubmit)="registrar()">
      <fieldset>
        <h5>Registro de usuario</h5>
        <h6>Completa los campos para crear tu perfil de usuario</h6>
      </fieldset>

      <div class="mb-3">
        <label for="name" class="form-label">Nombre completo</label>
        <input type="text" class="form-control" id="name" placeholder="Ingresa tu primer nombre"
          formControlName="nombre" />
        <div class="text-danger">{{validarCampo('nombre')}}</div>
      </div>

      <div class="mb-3">
        <label for="apellido" class="form-label">Nombre completo</label>
        <input type="text" class="form-control" id="apellido" placeholder="Ingresa tus apellidos"
          formControlName="apellido"/>
        <div class="text-danger">{{validarCampo('apellido')}}</div>
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Correo Electronico</label>
        <input type="email" class="form-control" id="email" placeholder="Ingresa tu correo electronico"
          formControlName="correo" />
        <div class="text-danger">{{validarCampo('correo')}}</div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="password" placeholder="Ingresa tu contraseña"
          formControlName="clave" />
        <div class="text-danger">{{validarCampo('clave')}}</div>
      </div>

      <div class="mb-3">
        <label for="ocupation">Perfil de usuario</label>
        <select class="form-select" id="ocupation" formControlName="ocupacion">
          <option value="administrador-campaing">
            Administrador de campañas
          </option>
          <option value="administrador-ong">
            Administrador de Life & Sustainability Today
          </option>
          <option value="user">No poseo un cargo de administrador</option>
        </select>
        <div class="text-danger">{{validarCampo('ocupacion')}}</div>
      </div>

      <fieldset class="form-options">
        <a routerLink="/login">Ya tengo una cuenta</a>
      </fieldset>
      <button type="submit" class="btn btn-success">Registrame</button>
    </form>
  </section>
</main>