section{
    padding: 2vh;
}

section:nth-child(1){
    background-color: #DCFCE7;
    display: flex;
    justify-content: center;
}

section:nth-child(1) > article{
    display: flex;
    flex-direction: column;
}

h1 > span{
    color: lightgreen;
}

section:nth-child(1) > article > p{
    color: rgb(190, 190, 190);
}

.title-options{
    display: flex;
    justify-content: center;
    gap: 2vh;
}

.texto-sect1{
    text-align: center;
}

/* segundo section */
section:nth-child(2){
    display: flex;
    gap: 5vh;
}

section:nth-child(2) > h1{
    text-align: center;
}

/* tecer section */

section:nth-child(3){
    background-color: #DCFCE7;

}

section:nth-child(3) > figure > img{
    border-radius: 2vh;
}

section:nth-child(3) > article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section:nth-child(3) > article > h3{
    color: rgb(190, 190, 190);
}

.bi-flower1{
    color: darkgreen;
}

/*cuarto section*/
section:nth-child(4){
    display: flex;
    justify-content: center;
}

section:nth-child(4) > h1,
section:nth-child(4) > h6{
    text-align: center;
}

section:nth-child(4) > form{
    display: flex;
    flex-direction: column;
}
