<main class="container-fluid">
    <section class="row">
        <form class="col-md-12">
            <h1>Campañas ecologicas de Life & Sustainability Today</h1>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Ingresa una campaña de tu preferencia"
                    aria-label="Recipient's username" aria-describedby="button-addon2">
                <button type="button" class="btn btn-dark" type="button" id="button-addon2">Buscar</button>
            </div>
        </form>
        <div class="card col-md">
            <img src="https://www.greenpeace.org/static/planet4-chile-stateless/2018/11/3cf2de80-img_0308-510x340.jpg"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <button class="btn btn-success" data-bs-target="#staticBackdrop"
                    data-bs-toggle="modal">Gosomewhere</button>
            </div>
        </div>
        <div class="card col-md">
            <img src="https://www.greenpeace.org/static/planet4-chile-stateless/2018/11/3cf2de80-img_0308-510x340.jpg"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-success">Go somewhere</a>
            </div>
        </div>
        <div class="card col-md">
            <img src="https://www.greenpeace.org/static/planet4-chile-stateless/2018/11/3cf2de80-img_0308-510x340.jpg"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-success">Go somewhere</a>
            </div>
        </div>
    </section>
</main>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Campaña: Agua Limpia Para Todos</h1>
                <p class="fs-6">Dueño: Martin Romero</p>
            </div>
            <div class="modal-body">
                <h3>Sobre la campaña</h3>
                <p>Nuestra misión es proporcionar acceso a agua potable limpia en comunidades rurales. Con tu ayuda,
                    podemos instalar sistemas de purificación de agua y educar sobre prácticas de higiene.</p>
                <h3>Nuestra meta</h3>
                <p>Buscamos recaudar $50,000 para instalar 10 sistemas de purificación de agua que beneficiarán a 5,000
                    personas.</p>
                <form>
                    <div class="mb-3">
                        <label for="donation" class="form-label">Cantidad a donar ($)</label>
                        <input type="number" class="form-control" id="donation" aria-describedby="emailHelp"
                            placeholder="ingresa el monto">
                        <div id="emailHelp" class="form-text">el 100% de tu donación ira a la campaña</div>
                    </div>
                    <button type="submit" class="btn btn-success">Donar</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>