<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <h5 class="navbar-brand"><i class="bi bi-flower1"></i> Life & Sustainability Today</h5>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Administrar mis campañas
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/crear-campania">Crear Campañas</a></li>
                        <li><a class="dropdown-item" href="/estado-campania">Estados de mis campañas</a></li>
                        <li><a class="dropdown-item" href="/reportes">Reportes</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/campanias">Buscar Campañas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Mi perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Panel de control</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Cerrar Sesión</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<router-outlet />