footer{
    background-color: var(--bs-success);
}

footer > section > article{
    padding: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer > section > article > h5 > a{
    color: white;
    text-decoration: none;
}
footer > section > article > h5{
    color: white;
    text-decoration: none;
}

footer > section > article > h5 > a:hover{
    text-decoration: 1px white solid underline;
}

