
main,section{
    padding: 2vh;
}

section{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2vh;
}


section:nth-child(2){
    justify-content: start;
}
section:nth-child(2) > article{
    display: flex;
    align-items: center;
}